# general
/.idea/
.DS_Store

/Olmeca.docx

# lab1
/lab1/.DS_Store

/lab1/a.out
/lab1/lex.yy.c
/lab1/lab1.docx

# lab2
/lab2/.DS_Store

/lab2/.idea/
/lab2/olmeca
/lab2/lab2.docx

/lab2/ast.o
/lab2/location.hh
/lab2/olmeca.o
/lab2/olmeca_driver.o
/lab2/olmeca_lang.hpp
/lab2/olmeca_lang.cpp
/lab2/olmeca_lang.o
/lab2/olmeca_lang.output
/lab2/olmeca_lexer.cpp
/lab2/olmeca_lexer.o
/lab2/symtable.o
/lab2/stack.hh
/lab2/position.hh
